.nav-link
{
    background-color: transparent;
    color: #5e6062;
    text-decoration: none;
    text-decoration-style: solid;
}
li.nav-item
{
    display:inline-block;
    float: right;
    margin-left:20px;
}
a.nav-link:hover
{
    color: #0dc0dc;
}
